@charset "utf-8";


//_common.scss

*{box-sizing: border-box;}
a{color: #000; text-decoration: none;}

html,body{margin:0;}
ul,li,ol{list-style-type: none; margin:0; padding:0;}
h1,h2,h3,h4,p,figure{margin:0;}
a{text-decoration: none;}
img{vertical-align: top;}

*{box-sizing: border-box;}