@import "_common";

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    align-items: center;
    z-index: 99;
   
    h1{width: 40%;
        a{img{width: 100%;}}
    }
    .header__burger{
        color: #fff;font-size: 25px;
    }
    header.active{
        background:black;
    }
}
header.active{
    background-color: #fff;
}

.header__wrap{
    position: fixed; top: 0%; left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;    

    .translateY{
        position: fixed;top: 0;left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgb(255, 255, 255);
        transform:translateY(100%) ;
        
        .curtain-svg{
            width: 100%;
            height: 100vh;
        }
    }

    .header__menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 25px 20px;
        align-items: center;
        .logo{width: 40%;
            img{width: 100%;}}
        .closed__btn{
            cursor: pointer;
            border: none;
            background: none;
            i{font-size: 25px;}
        }
    }

    .header__tittle{
        transform:translateY(50%); opacity: 0 ;
        .txt{
            font-weight: bold;
            font-size: 26px;
            padding:0px 40px;
            padding-bottom: 21px;
        }
        .txt-1{
            color: #888;
            font-weight: bold;
            padding: 0px 40px;
            font-size: 18px;   
            padding-bottom: 17px; 
        }
        .txt-2{
            color: #888;
            font-weight: 200;
            padding: 0px 40px;
            font-size: 14px;
            padding-bottom: 11px;
        }
        .footer{
            padding: 0 40px;
            .TOP{
                padding-top: 20px 0;
                line-height: 1.8;
                .p1{
                    color: #262626;
                    font-size: 10px;
                    padding-bottom: 20px;
                }
                .p2{
                    color: #262626;
                    font-size: 12px;
                    padding-bottom: 10px;
                }
                .P3{
                    font: 14px;
                    padding-bottom: 30px;
                }
            }
            .middle{
                p{
                    font-size: 10px;
                    padding-bottom: 20px;
                }
                span{font-size: 14px;}
                }
            }
            .bottom{
                font-size: 14px;
                padding: 60px 0px;
                line-height: 1.8;
                p{
                    font-size: 10px;
                }
                span{font-size: 12px;}
            }
        }
    
        
    svg path:not(:first-of-type){visibility: hidden;}

    &.in{ 
        display: block; 

        svg path:nth-child(1){
            animation: top 0.3s forwards; 
            @keyframes top {
                0%{ d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z" )}
    
                30%{d:path("M0,300 C305.333333,100 625.333333,0 960,0 C1294.66667,0 1614.66667,100 1920,300 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,300 Z")}
    
                60%{ d:path("M0,150 C305.333333,50 625.333333,0 960,0 C1294.66667,0 1614.66667,50 1920,150 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,150 Z")}
                
                100%{ d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z" )}
            }
        }

        .translateY{             
            animation: topSkin .4s forwards;
            @keyframes topSkin {
                0%{transform:translateY(100%);}
                100%{transform:translateY(0%);}
            }
        }
        .header__tittle{ 
            animation: tit-in 1s forwards;
            @keyframes tit-in {
                0%{transform:translateY(50%); opacity: 0 ;}
                100%{transform:translateY(0%); opacity: 1;} }
            }             
        }

    &.out{ 
        display: block; 
        svg path:nth-child(1){
            animation: bottom .3s  forwards; 
            @keyframes bottom {
                0%{ d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z" )}

                30%{ d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,980 1294.66667,930 960,930 C625.333333,930 305.333333,980 0,1080 L0,0 Z")}
                
                60%{  d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1030 1294.66667,1005 960,1005 C625.333333,1005 305.333333,1030 0,1080 L0,0 Z")}
                
                100%{ d:path("M0,0 C305.333333,0 625.333333,0 960,0 C1294.66667,0 1614.66667,0 1920,0 L1920,1080 C1614.66667,1080 1294.66667,1080 960,1080 C625.333333,1080 305.333333,1080 0,1080 L0,0 Z" )}
            }
        }

        .translateY{             
            animation: bottomSkin .4s forwards;
            @keyframes bottomSkin {
                0%{transform:translateY(0%);}
                100%{transform:translateY(-100%);}
            }
        }
        .header__tittle{ 
            animation: tit-out 0.4s forwards;
            @keyframes tit-out {
                0%{transform:translateY(0%); opacity: 1 ;}
                100%{transform:translateY(50%); opacity: 0;}
            }
                    
        }
    }
}
    
.visual{    
    .tittle{
        .slide__00{
            background: #000;
            position: relative;
            height: 90vh;
            overflow: hidden;
            img{
                opacity: 0.65;
                position: absolute;
                left: 50%;
                top: 50%;
                min-height: 100%;
                max-height: none;
                max-width: none;
                min-width: 100%;
                transform: translateX(-50%) translateY(-50%);
                
            }
        }.bottom__Text{
            position: absolute;
            bottom: 10%;
            padding: 20px;
            .h2{
                color: #fff;
                font-size: 24px;
                font-weight: bold;
            }.small{
                color:#c3c3c3;
                font-size: 20px;
                padding: 10px 0;
                font-weight: bold;
            }           
            
            }
        }
    }

.section__00{
    padding: 20px;
    width: 100%;    
    h2{padding-bottom: 20px;}
    p{font-weight: bold;
    font-size: 32px;}
    b{font-size: 14px;
        font-weight: 100;}
        button{
            background: none;
            border: none;
            border:1px solid #000;}
}


