.tittle{
    width:100%;
    /* 고정값 */
    position: relative;            
    /* 배너, 버튼, 인디게이터 모든 요소들의 최상위 부모 */
}
.tittle .slick-list{  
    /* 배너들의 상위요소 */
    overflow:hidden;  
}
.tittle .slick-track{
    /* 배너 그룹 및 translateX값으로 이동(스크립트) */
}
.tittle .slick-track::after{
    content:'';
    display:block;
    clear: both;    
}
.tittle .slick-slide{
    /* 개별 배너 */
    margin:0; 
    width:100%;
    float:left;
}
.tittle .slick-slide  img{}

/* next prev */           
.tittle .slick-prev{
    position: absolute;
    left:10%; bottom:3%;
    z-index: 2;
    font-size: 0;
    border: none;
    background-color: transparent;
    width: 36px; height: 36px;
    display: inline-block;
    padding: 0;
}
.tittle .slick-prev::after{
    content: '';
    width:0;height:0;
    border:8px solid transparent;
    border-right-width: 10px;
    border-right-color: #fff;
    position:absolute;
    left:-120%; top:50%;
    transform: translate(160%,-50%);
    opacity: .5;
}
.tittle .slick-prev:hover::after{
    opacity: 1;
}

.tittle .slick-prev svg circle{
    stroke: #fff;
    stroke-width: 2px;
    transform-origin: 0px 0px; 
    stroke-dashoffset: -18; 
    stroke-dasharray: 150px;
    transform:matrix(-1,0,0,-1,60,60);
    opacity:0;
    transition: .5s;
}
.tittle .slick-prev:hover svg circle{
    stroke-dashoffset: 0; 
    stroke-dasharray: 200px;
    opacity:1;
}
.tittle .slick-next{
    position: absolute;
    right:75%; bottom:3%;
    z-index: 2;
    font-size: 0;
    border: none;
    background-color:transparent;
    width: 36px; height: 36px;
    display: inline-block;
    padding:0;
}
.tittle .slick-next::after{
    content: '';
    width:0;height:0;
    border:8px solid transparent;
    border-left-width: 10px;
    border-left-color: #fff;
    position:absolute;
    left:150%; top:50%;
    transform: translate(-20%,-50%);
    opacity: .5;
}
.tittle .slick-next:hover::after{
    opacity: 1;
}
.tittle .slick-next svg circle{
    stroke: #fff;
    stroke-width: 2px;
    transform-origin: 0px 0px; 
    stroke-dashoffset: -18; 
    stroke-dasharray: 150px;
    transform:matrix(-1,0,0,-1,60,60);
    opacity:0;
    transition: .5s;
}
.tittle .slick-next:hover svg circle{
    stroke-dashoffset: 0; 
    stroke-dasharray: 200px;
    opacity:1;
}


/* dots */
.tittle .slick-dots{
    position: absolute;
    bottom: 5%;
    width: 56%;
    text-align: center;
    list-style-type: none;
    padding: 0;
    left: 30%;
}
.tittle .slick-dots li{
    width: 15px; height: 5px;
    padding: 8%;
    display: inline-block;
    
    opacity: 0.65;
}
.tittle .slick-dots li button{
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    border: none;
    font-size: 0;
    margin: 0 20px;
    padding: 4px;
}
.tittle .slick-dots li.slick-active button{
    background-color:blue;}