@import url('./common.css');

main{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background:#f0f8ff
}

.header-bojo{
    width: 1400px;
    padding: 10px;
    margin: 0 auto; 
}
.header-bojo > ul {
    width: 400px;
    display:flex;
    /* justify-content: space-between */
 
    

    /* border: 1px solid #000; */
}
.header-bojo > ul > li {
    border-right: 1px solid #000;
    padding: 0 40px;
}
.header-bojo > ul > li:nth-child(1){
    border-left: 1px solid #000;
}
.header-bojo > ul > li:nth-child(2){
    display: flex;
    /* border: 1px solid #000; */
    
}

.header-bojo > ul > li > p {
    padding-right: 10px;
}

.header-bojo > ul > li > a {}
.header-bojo > ul > li > a > img{
    width: 70%;
}
/* contents-01 */

.contents-01 {
    width: 100%;
    padding-top: 80px;
}
.contents-01 > div {
    width: 1400px ; margin: 0 auto;
    position: relative;
}
.contents-01 > div > h2 {
    text-align: center;  padding-bottom: 50px;
    font-size: 36px;
}
.contents-01 > div >h2::after{
    content: '';
    width: 200px;
    border-bottom: 1px solid #000;
    display: block;
    margin: 0 auto;
    padding-top:20px;
}
.contents-01 > div > figure {}
.contents-01 > div > figure > img {}
.contents-01 > div > figcaption {
    border: 1px solid #000;
    width: 600px;
    padding: 30px 20px;
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    position: absolute;
    top: 60%;
    color: white;
    background: rgba(255,255,255,0.8);
    color: #000;
}

/* 컨텐츠 02 번 */
.contents-02{
    width: 100%; padding-top: 80px;
    padding-bottom: 140px;
}
.contents-02 > .txt-02{
    width: 1400px; margin: 0 auto;
    text-align: center;
    position: relative;
}
.txt-02 >h2{
    text-align: center;
    font-size: 36px;
}
.txt-02 >h2::after{
    content: '';
    display: block;
    width: 280px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    padding-top: 20px;
}
.txt-02 > figure{
    padding-top: 160px;  
}
.txt-02 > figure > img{
    
}
.txt-02 > ul {}
.txt-02 > ul > li {
    border: 1px solid #fff;
    width: 200px; height: 200px;
    border-radius: 50%;
    position:absolute;  top: 50%; left: 50%;
    transform: translate(-50%,10%);
}
.txt-02 > ul > li > p {
    font-size: 20px;
    padding-top: 35%;
    line-height: 1.6;
}
.txt-02 > ul > li:nth-child(6) > p {
    font-size: 24px;
    padding-top: 25%;
}
.txt-02 > ul > li:nth-child(6) {
    width: 250px;
    height: 250px;
    top: 45%;
    background:  #f0f8ff;
}
.txt-02 > ul > li:nth-child(1){
    top: 45%;
    left: 78%;
    background: #f0ffff;
}
.txt-02 > ul > li:nth-child(2){
    top: 45%;
    left: 23%;
    background: #f0ffff;
}
.txt-02 > ul > li:nth-child(3){
    top: 15%;
    left: 50%;
    background: #f0ffff;
}
.txt-02 > ul > li:nth-child(4){
    top: 80%;
    left: 35%;
    background: #f0ffff;
}
.txt-02 > ul > li:nth-child(5){
    top: 80%;
    left: 65%;  
    background: #f0ffff;
}

/* 컨텐츠 03번 */

.contents-03{
    width: 100%; padding-top: 80px;
}
.contents-03 > .txt-03 {
    width: 1400px; margin: 0 auto;
    margin-left: 35%;
}
.txt-03 > ul {
    border: 3px solid #fff;
    width: 600px;
    text-align: center;
    background:  #f0f8ff;
;    
}
.txt-03 > ul > li {
    /* padding: 20px;  margin-left: 23%; */
    padding: 20px;

}
.txt-03 > ul > li > p {
    font-size: 20px;
}

/*  컨텐츠 04번 */
.contents-04{
    width: 100%; padding-top: 80px;
}
.contents-04 > .txt-04{
    width: 1400px ; margin: 0 auto;
    text-align: center;
}
.txt-04 > div {}
.txt-04 > div > p {
    padding-bottom: 80px;
}
.txt-04 > div > p > img {

}

.txt-04 > .txt-05 {
    position: relative;
}
.txt-04 > .txt-05 > figure{
    
}
.txt-04 > .txt-05 > figure >img{
    
}
.txt-04 > .txt-05 > figcaption {
    padding: 60px;
    line-height: 1.6;
    font-size: 24px;
    position: absolute;
    top: 40%;
    left: 35%;
    width: 425px;
    border: 1px solid #fff;
    background: #FAF2F2;
}
/* 컨텐츠 05 번 */
.contents-05{
    width: 100%; padding: 80px;
}
.contents-05 >.txt-06 {
    width: 1400px ; margin: 0 auto;
    text-align: center;
}
.txt-06 > div{}
.txt-06 > div > p {
    padding-bottom: 80px;
}
.txt-06 > div > p > img{}

.txt-06 > .txt-07 {}
.txt-06 > .txt-07  > h2 {
    font-size: 36px;
    padding-bottom: 80px;
}
.txt-06 > .txt-07 > h2::after{
    content: '';
    display: block;
    width: 160px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    padding-top: 20px;
}
.txt-06 > .txt-07 > ul {
    display: flex;  justify-content:space-around;
    align-items: center;
}

.txt-06 > .txt-07 > ul > li {}
.txt-06 > .txt-07 > ul > li >figure {}
.txt-06 > .txt-07 > ul > li >figure > img{}
.txt-06 > .txt-07 > ul > li > figcaption {
    font-size: 24px;    padding-top: 80px;

}

/* 컨텐츠 06번 */
.contents-06 {
    width: 100%; padding-top: 80px;
    background: #E4F2F4;
}
.contents-06 > .txt-08 {
    width: 1400px; margin: 0 auto;
}
.txt-08 > h2{
    text-align: center;
    font-size: 36px;
    
}
.txt-08 > h2::after{
    content: '';
    display: block;
    width: 280px;
    border-bottom: 1px solid #000;
    margin: 0 auto;
    padding-top: 20px;
}
.txt-09 {
    padding: 100px 0;
    align-items: center;
    display: flex;  justify-content: space-between  ;
    border-bottom: 1px solid #A8BCBF;
}
.txt-09:nth-of-type(5){
    border-bottom: 0;
}
.txt-10 {}
.txt-10 > figure {}
.txt-10 > figure > img {}

.txt-11{
    margin-left: 5%;
}
.txt-11 > ul {}
.txt-11 > ul > li {
    width: 80%;
}
.txt-11 > ul > li > strong {
    font-size: 24px;    line-height: 3.6;
}
.txt-11 > ul > li > p {
    font-size: 20px;
    line-height: 1.6;
}
.txt-11 > ul > li > h3{
    font-size: 24px;    line-height: 3.0;
}
.txt-11 > ul > li > span {
    font-size: 20px; line-height: 1.6;
}

